<div class="container-product">
  <div class="row">
    <!--//p=one-->
    <div class="col-md-3" *ngFor="let p of webShop.products">
      <div class="border bg-white rounded p-1">
        <img src="/img/{{ p.productId }}.jpg" class="img-fluid product-img" alt="{{ p.category }}" />
        <h5>{{ p.category }} {{ p.title }}</h5>
        <ul class="product-list list-unstyled">
          <li>{{ p.price }}kr</li>
          <li>{{ p.size }}</li>
          <li>{{ p.brand }}</li>
          <li><i>{{ p.description }}</i></li>
        </ul>
        <button id="addToCartButton" class="btn btn-outline-dark btn-sm" (click)="webShop.addToOrder(p)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
