<div class="row">
  <div class="col-md-4 offset-md-1">
    <form (submit)="onLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="loginUser.email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" [(ngModel)]="loginUser.password" />
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-dark" />
        <a href="#" class="btn btn-outline-dark">Cancel</a>
      </div>
    </form>
    {{loginUser | json}}
  </div>
</div>
